<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
    
    <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        
          <span> <%= messages[i].text %> </span>
          <span> <%= messages[i].user %> </span>
          <span> <%= messages[i].added %> </span>
        </a>
      </li>
    <% } %>

    <%- include('footer') %>
  </body>
  
  
</html>

