<form method="POST" action="/new">
    <h1>Enter message</h1>
    <label for="name">Author name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message">
  <input type="submit" value="Submit">
 </form>
 